@model CarsSale.WebUi.Models.Advertisements.NewAdvertisementViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new advertisement</h2>
<div>
	@using (Html.BeginForm("CreateAdvertisement", "Advertisement", FormMethod.Post))
	{
		<div>
			@Html.Label("Region")
			@Html.DropDownListFor(x => x.Region.Id, new SelectList(Model.RegionOptions,
				"Id", "Name"))
		</div>
		<div>
			@Html.Label("Brand")
			@Html.DropDownListFor(x => x.Brand.Id, new SelectList(Model.BrandOptions,
				"Id", "Name"))
		</div>
		<div>
			@Html.Label("Vehicl Type")
			@Html.DropDownListFor(x => x.VehiclType.Id, new SelectList(Model.VehiclTypeOptions,
				"Id", "Name"))
		</div>
		<div>
			@Html.Label("Transmission Type")
			@Html.DropDownListFor(x => x.TransmissionType.Id, new SelectList(Model.TransmissionTypeOptions,
				"Id", "Name"))
		</div>
		<div>
			@Html.Label("Engine Volume")
			@Html.TextBoxFor(x => x.EngineVolume)
		</div>
		<div>
			@Html.Label("Fuels")
			@for (var i = 0; i < Model.Fuels.Count; i++)
			{
				<div>
					@Html.HiddenFor(x => x.Fuels[i].Text)
					@Html.HiddenFor(x => x.Fuels[i].Value)
					@Html.CheckBoxFor(x => x.Fuels[i].Selected)
				</div>
			}
		</div>
		<div>
			<input type="submit" name="Create">
		</div>
	}
</div>

