@model CarsSale.WebUi.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
	<div id="login-form">
		@using (Html.BeginForm("SignIn", "Account", new {ReturnUrl = Request.QueryString["ReturnUrl"]}))
		{
			<div class="col-sm-6">
				@Html.Label("Login")
				@Html.TextBoxFor(x => x.Login)
				@Html.ValidationMessageFor(x => x.Login)
			</div>
			<div>
				@Html.Label("Password")
				@Html.PasswordFor(x => x.Password)
				@Html.ValidationMessageFor(x => x.Password)
			</div>
			<div>
				@Html.Label("remember me?")
				@Html.CheckBoxFor(x => x.Remember)
			</div>
			<div>
				<input type="submit" name="Log In">
			</div>
		}
	</div>
</div>
