@model CarsSale.WebUi.Models.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Реєстрація";
}


<div>
	Реєстрація нового користувача
</div>
<div>
	@using (Html.BeginForm("SubmitRegistry", "Account"))
	{
		<div>
			@Html.Label("Login")
			@Html.TextBoxFor(x => x.Login)
			@Html.ValidationMessageFor(x => x.Login)
		</div>
		<div>
			@Html.Label("Full Name")
			@Html.TextBoxFor(x => x.Name)
			@Html.ValidationMessageFor(x => x.Name)
		</div>
		<div>
			@Html.Label("Password")
			@Html.PasswordFor(x => x.Password)
			@Html.ValidationMessageFor(x => x.Password)
		</div>
		<div>
			@Html.Label("Confirm password")
			@Html.PasswordFor(x => x.ConfirmPassword)
			@Html.ValidationMessageFor(x => x.Password)
		</div>
		<div>
			@Html.Label("Email")
			@Html.TextBoxFor(x => x.Email)
			@Html.ValidationMessageFor(x => x.Email)
		</div>
		<div>
			@Html.Label("Phone")
			@Html.TextBoxFor(x => x.Phone)
			@Html.ValidationMessageFor(x => x.Phone)
		</div>
		<div>
			@Html.Label("Birthday")
			@Html.TextBoxFor(x => x.Birthday)
			@Html.ValidationMessageFor(x => x.Birthday)
		</div>
		<div>
			<input type="submit" name="Register">
		</div>
	}
</div>