@using System.Web.Optimization
@model CarsSale.WebUi.Models.CreateAccountViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Реєстрація";
}

<script src="~/Scripts/cars-sale/modules/cars-sale.account-create.js"></script>
<link href="~/Content/cars-sale/cars-sale.account-create.css" rel="stylesheet" />

<div id="create-account" class="container">
    <div class="row justify-content-center text-center">
        @using (Html.BeginForm("Registry", "Account", null, FormMethod.Post, new { role = "form", ReturnUrl = Request.QueryString["ReturnUrl"] }))
        {
	        <div class="justify-content-center">
				<hr />
				<h3>Create an account to CarsSale</h3>
				<hr/>
	        </div>
	        <fieldset>
		        <label class="has-error">
			        @Html.ValidationSummary(true)
		        </label>
		        <div class="form-group">
			        <h5 class="">Login *</h5>
			        <div class="input-group">
				        @Html.TextBoxFor(x => x.Login, new {@class = "form-control text-center" })
			        </div>
			        @Html.ValidationMessageFor(m => m.Login)
		        </div>
		        <hr>
		        <div class="form-group">
			        <h5>Full Name *</h5>
			        <div class="input-group">
				        @Html.TextBoxFor(x => x.Name, new {@class = "form-control text-center" })
			        </div>
			        @Html.ValidationMessageFor(x => x.Name)
		        </div>
		        <hr>
		        <div class="form-group">
			        <h5>Password *</h5>
			        <div>
				        @Html.PasswordFor(x => x.Password, new {@class = "form-control text-center", type = "password"})
			        </div>
			        @Html.ValidationMessageFor(x => x.Password)
		        </div>
		        <hr>
		        <div class="form-group">
			        <h5>*Confirm Password</h5>
			        <div>
				        @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control text-center", type = "password"})
			        </div>
			        @Html.ValidationMessageFor(x => x.ConfirmPassword)
		        </div>
		        <hr>
		        <div class="form-group">
			        <h5>Email *</h5>
			        <div>
				        @Html.TextBoxFor(x => x.Email, new {@class = "form-control text-center", placeholder = "example@example.example"})
			        </div>
			        @Html.ValidationMessageFor(x => x.Email)
		        </div>
		        <hr>
		        <div class="form-group">
			        <h5>Phone *</h5>
			        <div>
				        @Html.TextBoxFor(x => x.Phone, new {@class = "form-control text-center", mask = "(999) 999 - 99 - 99", placeholder = "(067) 123 - 45 - 67"})
			        </div>
			        @Html.ValidationMessageFor(x => x.Phone)
		        </div>
		        <hr>
		        <div class="form-group">
				    <h5>Birthday</h5>
			        <div>
				        @Html.TextBoxFor(x => x.Birthday, new {@class = "form-control text-center", mask = "99 / 99 / 9999", placeholder = "MM / DD / YYYY"})
			        </div>
			        @Html.ValidationMessageFor(x => x.Birthday)
		        </div>
		        <hr>
		        <div>
					<button type="submit" class="btn btn-primary">Create an Account</button>
		        </div>
	        </fieldset>
        }
    </div>
</div>