@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CarsSale</title>
	@Scripts.Render("~/bundles/jquery/js")
	@Scripts.Render("~/bundles/bootstrap/js")
	@Styles.Render("~/bundles/bootstrap/css")
	<script src="~/Scripts/cars-sale/cars-sale.js"></script>
	<link href="~/Content/cars-sale/layout.css" rel="stylesheet" />
</head>
<body>
    <div class="modal col-lg-12">
        <div class="modal-content col-xs-12">
            <div class="logo"></div>
            <div class="spinner"></div>
        </div>
    </div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			@Html.ActionLink("CarsSale", "Index", "Home", null, new {@class = "navbar-brand"})
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						@Html.ActionLink("Search", "Search", "Advertisement", null, new {@class = "nav-link"})
					</li>
					<li class="nav-item">
						@Html.ActionLink("Create Advertisment", "Create", "Advertisement", null, new {@class = "nav-link"})
					</li>
					@if (string.IsNullOrEmpty(User.Identity.Name))
					{
						<li class="nav-item">
							@Html.ActionLink("User Registration", "Registry", "Account", null, new {@class = "nav-link"})
						</li>
						<li class="nav-item">
							@Html.ActionLink("Sign In", "SignIn", "Account", null, new {@class = "nav-link"})
						</li>
					}
					else
					{
						<li class="nav-item">
							@Html.ActionLink("Sign Out", "LogOut", "Account", null, new {@class = "nav-link"})
						</li>
					}
				</ul>
			</div>
		</div>
	</nav>
    <div id="error-placement" class="alert alert-danger alert-dismissable  col-lg-2 float-right">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong class="message"></strong>
    </div>
	<div id="content" class="container">
		@RenderBody()
	</div>
</body>
</html>
