@using System.Web.Optimization

@{
	Layout = null;
	<link href="~/Content/Styles/login.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
	<title>_Layout</title>
	<meta name="viewport" content="width=device-width"/>

	@Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/styles")
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div class=".container">
			<div class="row">
				<div class="col-sm-3 center">
					@if (string.IsNullOrEmpty(User.Identity.Name))
					{
						<div class="col-sm-12">
							<span class="glyphicon glyphicon-user"></span>
							@Html.ActionLink("Login", "Login", "Account")
						</div>
					}
					else
					{
						<div class="col-sm-12">
							<span class="glyphicon glyphicon-user"></span>
							@User.Identity.Name
						</div>
						<div class="col-sm-12">
							<span class="glyphicon glyphicon-share"></span>
							@Html.ActionLink("Sign Out", "LogOut", "Account")
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			@RenderBody()
		</div>
	</div>
	<div id="footer">
		Mentoring EPAM-Systems 2017
	</div>
</div>
</body>
</html>
